.contents {
    display: grid;
    font-weight: bold;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    text-align: center;
    border-radius: 12px;
}

.time {
    display: flex;
    font-size: 30px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    cursor: pointer;
    font-size: 17px;
}

.button {
    width: 80px;
    border-radius: 8px;
    padding: 4px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.7);
}

.button:hover{
    background: rgba(255, 255, 255, 1);
}

#startOrStop {
    padding-right: 5px;
}
