.contents {
    display: grid;
    font-weight: bold;
    text-align: center;
    max-width: 200px;
    margin: 5px 15px;
}

.time {
    display: flex;
    font-size: 30px;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: center;
    transform: skew(-15deg);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    background: rgba(122, 122, 122, 0.5);
}

.buttons {
    display: flex;
    cursor: pointer;
    font-size: 17px;
}

.button {
    width: 80px;
    padding: 4px;
    margin: 5px 0;
    transform: skew(-15deg);
    color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}

.button:hover{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    background: rgba(122, 122, 122, 0.5);
}

#startOrStop {
    padding-right: 5px;
    margin-right: 5px;
}
